{% extends 'layout.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1>Création d'un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <p class="border-t border-gray-100 dark:border-gray-700 pt-6 text-sm text-gray-500 dark:text-gray-400">
        <a href="{{ path('app_article_index') }}" class="text-primary">Back to list</a>
    </p>
{% endblock %}
